main > h1 {
  margin-top: 64px;
}

#product-registration footer {
  position: relative;
}

#product-registration .button {
  background-color: black;
  padding: auto 15px;
  border: none;
  color: white;
  border-radius: 100px;
}
