.input-field, .select-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px auto;
}

.input-field:last-child {
  margin-bottom: 0;
}

.input-field input, .input-field textarea, .input-field select {
  margin-top: 8px;
  padding: 12px 16px;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.input-field textarea {
  resize: vertical;
}

.input-field select {
  background-color: #FFF;
}
