.total {
    margin-left: 20px;
    padding: 30px;
    text-align: center;
}

.total span {
    font-size: 57px;
}

.total button {
    border-radius: 100px;
    border: 1px solid;
    margin-top: 16px;
}

.content-body {
    margin: 24px 64px;
}