nav {
    background-color: #F6F8F9;
}

.logo {
    width: 128px;
    height: 79px;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.header-search {
    display: flex;
    flex-direction: row;
}

.header-options {
    display: flex;
    flex-direction: row;
}

.header-options a {
    color: black;
    display: flex;
    align-items: center;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 280px;
}

.header-links a {
    color: black;
    text-align: center;
}

.header-links img {
    height: 37px;
}